@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

div.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 6rem;
  width: 100vw;
  background: #304353;
}

div.logo {
  font-size: 1.5rem;
  color: #bcc3c7;
}

ul.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0 2vw;
  list-style: none;
  font-size: 1.1rem;
}

ul li a {
  text-decoration: none;
  color: #88949b;
  padding: 0.5vw;
}

ul li a:hover {
  color: #304353;
  background: #fff;
  padding: 0.5rem;
}

div.hero-section {
  background: #304353;
  padding: 10rem;
}

div.hero-content-heading {
  text-align: center;
}

div.hero-content-heading h3 {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  color: #bcc3c7;
}

div.hero-content-heading p {
  text-align: center;
  padding-top: 0.7rem;
  color: #88949b;
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 300;
}

div.hero-content-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
}

div.hero-content-btn a {
  background: #e44c65;
  text-decoration: none;
  color: #bcc3c7;
  font-size: 0.9rem;
  padding: 10px 30px;
  border-radius: 3px;
  letter-spacing: 2px;
}

div.hero-background {
  background: #f0f0f0;
  padding: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

div.background {
  background: #fff;
  -webkit-box-shadow: 2px 2px 15px 0 rgba(135, 135, 135, 0.4);
          box-shadow: 2px 2px 15px 0 rgba(135, 135, 135, 0.4);
  padding: 15px 40px;
  width: 550px;
  height: 220px;
  position: relative;
}

div.background h4 {
  padding: 2rem;
  color: #555657;
  font-size: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

div.background p {
  color: #a6a5aa;
  padding-left: 2rem;
  font-size: 0.8rem;
  letter-spacing: 2px;
}

div.hero-background-pos {
  position: absolute;
  right: 0px;
  left: 66%;
  background: #fff;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 15px 0 rgba(135, 135, 135, 0.4);
          box-shadow: 2px 2px 15px 0 rgba(135, 135, 135, 0.4);
}

div.snapshot-team {
  background: #f0f0f0;
  text-align: center;
  padding-top: 2rem;
}

div.snapshot-team h2 {
  color: #555657;
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

div.snapshot-team p {
  color: #a6a5aa;
  font-size: 1rem;
  letter-spacing: 2px;
  padding-top: 0.8rem;
}

div.snapshot-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f0f0f0;
  padding: 4rem 6rem;
}

div.snapshot-box-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.box1 {
  background: #fff;
  padding: 10px 20px;
  width: 220px;
  height: 230px;
  margin: 10px;
  border-radius: 2px;
  -webkit-box-shadow: 2px 2px 15px 0 rgba(135, 135, 135, 0.4);
          box-shadow: 2px 2px 15px 0 rgba(135, 135, 135, 0.4);
}

div.box3 {
  background: #304353;
  padding: 10px 20px;
  width: 220px;
  height: 230px;
  margin: 10px;
  border-radius: 2px;
  -webkit-box-shadow: 2px 2px 15px 0 rgba(135, 135, 135, 0.4);
          box-shadow: 2px 2px 15px 0 rgba(135, 135, 135, 0.4);
}

div.box3 h5 {
  text-align: center;
  padding-top: 2rem;
  color: #e44c65;
  font-size: 1rem;
}

div.circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #bcc3c7;
  margin-top: 2rem;
}

div.box1 h5 {
  text-align: center;
  padding-top: 2rem;
  color: #e44c65;
  font-size: 1rem;
}

div.gallery-section {
  background: #fff;
  padding: 4rem;
}

div.gallery-content {
  text-align: center;
}

div.gallery-content h4 {
  color: #555657;
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

div.gallery-content p {
  color: #a6a5aa;
  font-size: 1rem;
  letter-spacing: 2px;
  padding-top: 0.8rem;
}

div.gallery-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 3rem;
}

div.img {
  margin: 10px;
}

div.img img {
  width: 250px;
  height: 180px;
}

div.footer {
  background: #304353;
  padding: 3rem;
}

div.footer-content {
  text-align: center;
}

div.footer-content h4 {
  color: #bcc3c7;
  font-size: 1.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

div.footer-content p {
  color: #88949b;
  font-size: 1rem;
  letter-spacing: 2px;
  padding-top: 0.8rem;
}

div.footer-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3rem;
}

input[type="text"] {
  margin-right: 10px;
  padding: 10px 20px;
  width: 25%;
  outline: none;
  border: 1px solid #bcc3c7;
  background: transparent;
  color: #f0f0f0;
  font-size: 1rem;
  border-radius: 2px;
}

input[type="email"] {
  margin-right: 10px;
  padding: 10px 20px;
  width: 25%;
  outline: none;
  border: 1px solid #bcc3c7;
  background: transparent;
  color: #f0f0f0;
  font-size: 1rem;
  border-radius: 2px;
}

::-webkit-input-placeholder {
  color: #a6a5aa;
}

:-ms-input-placeholder {
  color: #a6a5aa;
}

::-ms-input-placeholder {
  color: #a6a5aa;
}

::placeholder {
  color: #a6a5aa;
}

div.footer-textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
}

textarea {
  width: 51%;
  height: 150px;
  padding: 0.5rem;
  outline: none;
  border: 1px solid #bcc3c7;
  background: transparent;
  color: #f0f0f0;
}

div.footer-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2rem;
}

div.footer-btn a {
  background: #e44c65;
  text-decoration: none;
  color: #f0f0f0;
  font-size: 0.9rem;
  padding: 10px 50px;
  border-radius: 3px;
  letter-spacing: 2px;
}

div.footer h6 {
  text-align: center;
  color: #88949b;
  font-size: 1rem;
  padding-top: 6rem;
}

.hambuger {
  display: none;
}

#myTopnav-responsive {
  display: none;
}

@media screen and (max-width: 480px) {
  .nav-links {
    display: none !important;
  }
  .hambuger {
    display: block;
    position: absolute;
    right: 20px;
    float: right;
  }
  .hambuger a {
    color: white;
    text-decoration: none;
  }
  .responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #myTopnav-responsive {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    right: 0;
    width: 100%;
    top: 60px;
    background: white;
    padding: 5px;
    text-align: center;
    opacity: 0.9;
  }
  #myTopnav-responsive li {
    padding: 0.5rem;
  }
  .background {
    height: auto !important;
  }
  .hero-section {
    padding: 5em !important;
  }
  .snapshot-box-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-background-pos {
    top: 50px;
    left: 30% !important;
  }
}
/*# sourceMappingURL=styles.css.map */